{% extends 'main/more.html' %}
{%block title%}Articles{%endblock%}
{% block content %}
    <form method="get" class="mb-3">
        <input type="text" name="q" value="{{ query }}" placeholder="Search..." class="form-control">
    </form>
    <div class="features">
        <h1>Articles</h1>
        {%for article in page_obj%}
            <div class="alert alert-warning">
                <h3>{{article.title}}</h3>
                <p>{{article.anons}}</p>
                <a href="{%url 'arts:detail' article.id%}" class="btn btn-warning">More...</a>
                <i class="fa-solid fa-eye"> {{article.views}}</i>
                <i class="fa-solid fa-heart"> {{article.likes.count}}</i>
                <i class="fa-solid fa-comment-dots"> {{article.comments.count}}</i>
            </div>
        {%empty%}
            <p>There are no articles</p>
        {%endfor%}
    </div>
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Prev</a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}