{% extends 'main/more.html' %}
{% block title %}{{article.title}}{% endblock %}
{% load mptt_tags %}
{% block content %}
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<style>
    .comment-tree { margin-top: 20px; }
    .comment-node { position: relative; padding-left: 15px;margin-bottom: 10px;}
    .comment-node .children {border-left: 2px solid #e0e0e0; margin-left: 10px;padding-left: 15px;}
    summary { list-style: none; cursor: pointer; font-weight: bold; color: #555; }
    summary::-webkit-details-marker { display: none; }
    .comment-meta { font-size: 0.85em; color: gray; margin-bottom: 5px; }
    .icon-btn , .comment-actions a {color: gray;background: none; border: none; padding: 0; font-size: 0.85em; cursor: pointer; margin-right: 10px;}
    .reply-form { margin-top: 10px; margin-bottom: 10px;}
</style>
<div class="features" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <h1>{{article.title}}</h1>
    <p>Author: <a href="{%url 'users:profile' article.author.username %}">{{article.author.username}}</a></p>
    <p>Date of publication: {{article.date}}</p>
    <p>Views: {{article.views}}</p>
    <h3>Announcement:</h3>
    <p>{{article.anons}}</p>
    <h3>Content:</h3>
    <p>{{article.full_text}}</p>
    <div class="mb-4">
        {% if article.author == request.user %}
            <a href="{% url 'arts:edit' article.id %}" class="icon-btn d-inline-block"><i class="fa-solid fa-pen"></i></a>
            <form action="{% url 'arts:delete' article.id %}" method="post" class="d-inline-block">
                {% csrf_token %}
                <button class="icon-btn"><i class="fa-solid fa-trash"></i></button>
            </form>
        {% endif %}
        {% if user.is_authenticated%}
            {%include 'arts/like_area.html' with article=article%}
        {% endif %}
    </div>
    <h3>Comments {{ article.comments.count }}</h3>
    {% if user.is_authenticated %}
    <div class="mb-4">
        <form hx-post="{% url 'comments:add' article.id %}" 
              hx-target="#root-comments" 
              hx-swap="afterbegin"
              hx-on::after-request="this.reset()"> 
              {% csrf_token %}
            <textarea name="text" class="form-control" placeholder="Write a comment..." rows="2" required></textarea>
            <button type="submit" class="btn btn-dark mt-2 btn-sm">Post Comment</button>
        </form>
    </div>
    {% else %}
    <p><a href="{% url 'users:login' %}">Log in</a> to leave a comment.</p>
    {% endif %}
    <div id="root-comments" class="comment-tree">
        {% load mptt_tags %}
        {% recursetree article.comments.all %}
            {% include "comments/comment_node.html" with node=node %}
        {% endrecursetree %}
    </div>
</div>
{% endblock %}